.card-container {
    height: 364px;
    width: 354px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
}


.card-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


@media (max-width: 1187px) {
    .card-container {
      width: 333px;
    }

    .extra-width {
        width: 100%;
        flex-direction: row;
        height: 388px;


    }
  }

  @media (max-width: 767px) {
    .card-section {
        justify-content: center;
    }

    .extra-width {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }