h1 {
  color: var(--Black, #030303);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (L) */
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: unset;
  margin: 0;
  width: 751px;
}

p {
  color: var(--Medium-Brown, #7a746e);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Body (M) */
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 730px;
  margin-bottom: 0;
}

section {
  margin: 24px 0px;
}

@media (max-width: 1187px) {
  h1 {
    width: 690px;
    font-size: 44px;
  }

  p {
    width: 573px;
  }
}

@media (max-width: 767px) {
    h1 {
        width: 343px;
        font-size: 36px;
      }
    
      p {
        width: 285px;
        font-size: 16px;
      }

}
