:root {
  --purple-color: #755CDE;
  --orange-color: #F6A560;
  --peach-color: #F39E9E;
  --red-color: #EB7565;
  --mint-color: #61C4B7;
  --brown-color: #552049;
  --black-color: #030303;
  --grey-color: #7A746E;
  --white-color: #FFF7F0;
}

body {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  margin: 0;
}

.purple-bg {
  background-color: var(--purple-color);
}

.orange-bg {
  background-color: var(--orange-color);
}

.peach-bg {
  background-color: var(--peach-color);
}

.red-bg {
  background-color: var(--red-color);
}

.mint-bg {
  background-color: var(--mint-color);
}

.brown-bg {
  background-color: var(--brown-color);
}

.black-bg {
  background-color: var(--black-color);
}

.grey-bg {
  background-color: var(--grey-color);
}

.white-bg {
  background-color: var(--white-color);
}


* {
  border: 1px solid red;
}

